@import './note-css/note-main.css';
@import './email-css/email-main.css';

html{
    /* height: 100%;
    margin: 0; */
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.header-container{
    height: 50px;
    background-color: black;
}
.header-container a{
    margin-left: 10px;
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
}
main{
    height: 100%;
}
button{
    cursor: pointer;
}
li{
    list-style: none;
}
.header-container .icon-burger{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    cursor: pointer;
    z-index: 18;
}

.header-container .icon-homepage{
    transform: translate(-80px,62px);
    transition: transform 0.4s;
    /* width: 30px; */
    cursor: pointer;
}
.header-container .icon-email{
    transform: translate(-150px,62px) ; 
    transition: transform 0.4s; 
    /* width: 30px; */
    cursor: pointer;
}
.header-container .icon-note{
    transform: translate(-220px,62px);
    transition: transform 0.4s; 
    /* width: 30px; */
    cursor: pointer;
}
.header-btn-burger{
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
    position: absolute;
    /* transform: translate(0px,0px); */
    top: -60px;
    right: 0px;
    z-index: 10;
}






/* helpers */

/* flex */

.flex {
    display: flex;
}

.column{
    flex-direction: column; 
}
.flex.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}


.flex > .full {
    flex: 1;
}

/* Lists */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}