
.appNote{
    background-image: url("../../img/cork-board.jpg");
    background-size: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.appNote p{
   
}

.note{
    position: relative;
    height: 300px;
    width: 300px;
    border-bottom-left-radius: 20px 500px;
    border-bottom-right-radius: 500px 30px;
    border-top-right-radius: 5px 100px;
    box-shadow: 0 2px 10px 1px rgba(0,0,0,.2);
    box-shadow: -7px 10px rgba(0,0,0,0.3);
    padding: 10px;

}
.note-video{
    width: 350px;
    height: 350px;
}

.unpinned-cont{
    height: 200vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, 10px);
    grid-template-rows: repeat(auto-fill, 10px);
}

.pinned-cont{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

.pinned-note{
    margin-right: 20px;
    max-width: 400px;
}

.pin{
    height: 60px;
    position: absolute;
    top: -20px;
    left: 40%;
}


img{
    max-height: 200px;
    max-width: 200px;
}

/* buttons */

.note button{
   border-radius: 50%;
   height: 40px; 
   width: 40px;
   border: none;
   background-color: transparent;
   font-size: 1.2rem;
}

/* color-picker hide */
.input-color{
   display: none;
}

.title{
    position: absolute;
    left:40px;
    top: 10px;

    font-size: 1.2rem;
    color: rgb(80, 78, 78);
}

.bcg-btn{
    position: absolute;
    top: 8px;
    height: 30px;
    cursor: pointer;
}

.pin-btn{
    position: absolute;
    top:0;
    right:0;
}

.del-btn{
    position: absolute;
    top:0;
    right:30px;
}


/* Header */
.note-header{
    position: relative;
    height: 80px;
    align-items: center;
}

.note-header input{
    /* background: linear-gradient(21deg, #10abff, #1beabd); */
	border: none;
    border-radius: 5em;
    padding: 7px;
    height: 25px;
    width: 250px;
    position: relative;
    top:20px;
    margin-left:40%;
}


.plus-btn{
    cursor: pointer;
    position: absolute;
    right: 0;
    height: 80px;
    z-index:20;
}

.header-btn{
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
    position: absolute;
    /* transform: translate(0px,0px); */
    top: 8px;
    right: 8px;
    z-index: 10;
}

.text-btn{
   transform: translate(-80px,-20px);
   transition: transform 0.3s;
}

.list-btn{
    transform: translate(-80px,35px) ; 
    transition: transform 0.3s; 
}

.image-btn{
   transform: translate(-45px,85px);
   transition: transform 0.3s; 
}

.video-btn{
    transform: translate(10px,100px);
    transition: transform 0.3s; 
}

/* upload Modal */
.upload-modal{
    background-color: rgba(0,0,0,.5);
    height: 20vh;
    width: 85%;
    position: fixed;
    /* right: 0; */
    /* transform: translate(100%,0) */
    z-index:30;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-modal input{
    border: none;
    border-radius: 5em;
    padding: 7px;
    height: 25px;
    width: 250px;
}

.upload-btn{
    cursor: pointer;
    height: 40px;
}

.close-modal{
    height: 38px;
    cursor: pointer;
    margin-left:20px; 
    
}






/* todo note */
.todo-input{
    border: none;
    border-radius: 5em;
    padding: 7px;
}

.todo-done{
    text-decoration-line: line-through;
}

.todo-x-btn{
    font-weight: bold;
}
