.note{
    background-color: lightblue;
}

.note-img img{
    max-height: 200px;
    max-width: 200px;
}

.note-txt textarea{
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
}

.todo-done{
    text-decoration-line: line-through;
}