
.list-emails button{
    cursor: pointer;
}
.list-emails li{
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.preview-details{
    cursor: pointer;
}
.readed{
    color: white;
    background-color: rgb(88, 88, 88);
}
.unread{
    color: white;
    background-color: black;
}
.icon-readed{
    background-color: white;
    width: max-content;
}