
@import './email-preview.css';
@import './email-list.css';
@import './email-filter.css';
@import './email-menu.css';
@import './email-details.css';
@import './email-compose.css';
@import './email-reply.css';



.app-emails-container{
    background-image: url('./images/wallpaper.jpg');
    background-size: cover;
    height: 100%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
    user-select: none;
}
.filter-list-status-container{
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    height: 100vh;
}
.btn-menu-modal{
    display: none;
}
.menu-div-container{
    grid-column: 1/2;
    height: 99vh;
    margin-left: 10px;
}
.filter-list{
    grid-column: 2/3;
    height: 100vh;
}
.filter-div-container{
    margin-bottom: 7px;
    margin-right: 7px;
}
.list-div-container{
    overflow: scroll;
    overflow-x: hidden;
    height: 87vh;
}






@media (max-width: 1150px) {
    .filter-list-status-container{
        grid-template-columns: 1fr 4fr;
        width: 100%;
        height: 100vh;
    }
}
@media (max-width: 1100px) {
    .menu-div-container{
        margin-left: 5px;
    }
    .filter-div-container{
        margin-bottom: 8px;
        margin-right: 5px;
    }
}
@media (max-width: 900px) {
    .app-emails-container{
        padding-top: 5px;
    }
    .menu-div-container{
        display: none;
    }
    .btn-menu-modal{
        display: block;
        position: absolute;
        top: 75px;
        left: 12px;
        background: none;
        border: none;
    }
    .icon-menu{
        width: 30px;
        padding: 3px;
    }
    .filter-list-status-container{
        grid-template-columns: 1fr;
    }
    .filter-list{
        grid-column: 1/2;
    }
    .filter-div-container{
        margin-right: 0px;
    }
    .moal-menu-div-container{
        grid-column: 1/2;
        height: 99vh;
    }
}
@media (max-width: 600px) {
    .app-emails-container{
        padding-top: 2px;
    }
    .btn-menu-modal{
        top: 64px;
        left: 0px;
    }
    .filter-div-container{
        margin-bottom: 2px;
    }
}