.list-emails{
    width: 100%;
}
.list-emails ul{
    width: 100%;
    margin: 0;
    padding: 0;
}
.list-emails .div-email-preview-container{
    width: 100%;
    margin: 0;
    padding: 0;
}


@media (max-width: 420px) {
    .list-emails{
        width: 93%;
    }
}